@import url('https://fonts.googleapis.com/css2?family=Arvo&family=Fraunces:ital,opsz,wght@0,9..144,100;0,9..144,200;0,9..144,300;0,9..144,400;0,9..144,500;0,9..144,600;0,9..144,700;1,9..144,100;1,9..144,200;1,9..144,300;1,9..144,400;1,9..144,500;1,9..144,600;1,9..144,700&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arvo&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

:root{
    --cream: hsl(30, 38%, 92%);
  --cyan: hsl(158, 36%, 37%);
  --dark-cyan: hsl(159, 36%, 26%);
  --very-dark-blue: hsl(212, 21%, 14%);
  --dark-grayish-blue: hsl(228, 12%, 48%);
  --white: hsl(0, 0%, 100%);
  --monserrat: "Montserrat", sans-serif;
  --fraunces: "Fraunces", serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: var(--cream);
}

image{
    display: block;
}

main{
    max-width: 40%; 
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 0 auto;
    margin-top: 11rem;
    margin-bottom: 3rem;
    border-radius: 15px;
}

.img{
    width: 100%;
    background-image: url(./images/image-product-desktop.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 15px 0 0 15px;
}

.info{
    display: flex;
    flex-direction: column;
    gap: 1.4rem;
    padding: 2rem;
    background-color: #fff;
    border-radius: 0 15px 15px 0;
}

h1{
    font-family: var(--monserrat);
    font-weight: lighter;
    text-transform: uppercase;
    letter-spacing: 6px;
    font-size: 0.7rem;
    font-weight: 400;
}

h2{
    font-family: var(--fraunces);
    font-size: 2rem;
    line-height: 2rem;
    font-weight: 700;
}

.info p{
    font-family: var(--monserrat);
    line-height: 1.4rem;
    font-weight: light;
    color: var(--dark-grayish-blue);
    font-size: 0.9rem;
}

.pricing {
    display: flex;
    flex-direction: column;
    gap: 2.1rem;
}

.price {
    display: flex;

}

.price p:nth-child(1) {
    font-family: var(--fraunces);
    font-size: 1.9rem;
    color: var(--dark-cyan);
    font-weight: bold;
}

.price p:nth-child(2) {
    font-family: var(--monserrat);
    font-size: 0.8rem;
    font-weight: light;
    color: var(--dark-grayish-blue);
    text-decoration: line-through;
    padding-left: 1rem
}

button {
    cursor: pointer;
    background-color: var(--cyan);
    color: #fff;
    font-family: var(--monserrat);
    border: var(--dark-grayish-blue);
    padding: 1rem;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    gap: 0.6rem;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    transition: all ease-in-out 0.2s;
}

@media (hover: hover) {
    button:hover {
      transition: all ease-in-out 0.2s;
      background-color: var(--dark-cyan);
    }
  }
  
@media  screen and (max-width: 650px) {
    main{
        margin-top: 10%;
        grid-template-columns: 1fr;
        grid-template-rows: 15rem 1fr;
        height: 100%;
    }

    .img {
        background-image: url("./images/image-product-mobile.jpg");
        border-radius: 15px 15px 0 0;
      }

      .info {
        border-radius: 0 0 15px 15px;
      }
}

.attribution { 
    font-size: 11px;
    text-align: center;
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}